body {
    background-color: #F5F5DC;
    margin: 0;
     font-family: "Roboto Slab", Helvetica, sans-serif; 
     font-size: 1.3vw
 }
 body > header {
    background-color: #333333;
    height: auto;
    font-family: "Special Elite", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
 }
 header > h1 {
  color: white;
 }
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color:  #777676;
    
    list-style: none;
    margin-top: 0px;
    margin-left: 0; 
    padding: 0px;
  }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
  }
  .Home {
    background: #F5F5DC;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
  }
  
  .navigation a:hover {
    background: #F5F5DC;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

